EXPERIMENT NUMBER 5

ROHAN KUMBHAR

branch = ENTC A2

PRN = 25070123141

In [1]:
#Duplicates not allowed
thisset={"lion","Tiger","Monkey","lion"}

print(thisset)

{'Monkey', 'Tiger', 'lion'}

In [2]:
#The Values True and 1 are considered the same value in sets
thisset={"lion","Tiger","Monkey",True,1,2}

print(thisset)

{True, 2, 'Tiger', 'Monkey', 'lion'}

In [3]:
#A set with strings , integers and boolean values:
set1={"abc",34,True,40,"male",10.5}

print(set1)

{'abc', True, 'male', 34, 40, 10.5}

In [4]:
#To check membership
thisset={"lion","Tiger","Monkey"}

print("lion" in thisset)
print("Tiger" not in thisset)

True
False

In [5]:
#Once a set is created , you cannot replace its items ,
#but u can add new items
thisset={"lion","Tiger","Monkey"}

thisset.add("Elephant")

print(thisset)

{'Monkey', 'Tiger', 'Elephant', 'lion'}

In [6]:
#Set Operations
A={1,2,3,4,5}
B={4,5,6,7,8}

print("Union:",A|B)
print("Intersection:",A&B)
print("Difference:",A-B)
print("Symmetric Difference:",A^B)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

PYTHON FROZENSET

In [7]:
#frozenset
x=frozenset([BOAT,JBL,SONY,NOISE])
y=frozenset([BOAT,SONY,NOISE])

print(x)
print(type(x))

NameError: name 'BOAT' is not defined

In [8]:
'''PROBLEM STATEMENT 1: UNIQUE EVENT PARTICIPANTS
A college event has a list of students who registered multiple times by mistake.
Write a program using set to store participant Names and display only unique participants.'''

#names of participants
participants=["RONALDO","MESSI","NEYMAR","MBAPPE","GRIEZMANN","LEWANDOWSKI"]
unique_participants = set(participants)
print("Unique Participants:",unique_participants)

Unique Participants: {'MESSI', 'NEYMAR', 'RONALDO', 'GRIEZMANN', 'LEWANDOWSKI', 'MBAPPE'}

In [11]:
'''PROBLEM STATEMENT 2: Three students choose elective subjects. Find the common sujects chosen by all students using set operations.
concepts used:Set intersection'''

# Subjects chosen by three students
MESSI = {"Maths", "Physics", "Computer Science"}
RONALDO = {"Physics", "Chemistry", "Computer Science"}
NEYMAR = {"Biology", "Physics", "Computer Science"}

# Find common subjects using set intersection
common_subjects = Maths & Physics & Computer & Science

# Display the result
print("Common subjects chosen by all students:")
print(common_subjects)

NameError: name 'Maths' is not defined

In [12]:
'''PROBLEM STATEMENT 3:One set contains students in the cricket club , another set contains students in the badminton club.
Find students who are:
 1) In both clubs
 2)In only one club

 Concept Used : INTERSECTION,SYMMETRIC DIFFERENCE'''

 # Define the sets
cricket = {"Virat", "Dhoni", "Rohit", "Hardik","Messi"}
football = {"Messi", "Ronaldo", "Neymar", "Mbappe"}

# 1) Students in both clubs (Intersection)
both_clubs = cricket.intersection(football)

# 2) Students in only one club (Symmetric Difference)
only_one_club = cricket.symmetric_difference(football)

# Print results
print("Students in both clubs:", both_clubs)
print("Students in only one club:", only_one_club)

Students in both clubs: {'Messi'}
Students in only one club: {'Mbappe', 'Neymar', 'Rohit', 'Virat', 'Dhoni', 'Ronaldo', 'Hardik'}

In [13]:
'''PROBLEM STATEMENT 4: Absent Students
given a set of all students and a set of present students, find the students who are absent'''

# Define the sets
all_students = {"Messi", "Ronaldo", "Neymar", "Mbappe",}
present_students = {"Messi","Neymar","Mbappe",}
absent_students = all_students.difference(present_students)

# Print the result
print("Absent Students:", absent_students)

Absent Students: {'Ronaldo'}

In [14]:
''' PROBLEM STATEMENT 5: Remove Invalid Entries.
A set contains valid course codes.
Remove a discontinues course codes from the set.
Concept Used: remove()/ discard()'''


# Set of valid course codes
courses = {"DCLD", "AMT", "TPCS", "CT"}

print("Original courses:", courses)

# Discontinued course
discontinued_course = "TPCS"

# Using remove()
courses.remove(discontinued_course)
print("After removing using remove():", courses)

# Adding it back for demonstration
courses.add("TPCS")

# Using discard()
courses.discard("TPCS")
print("After removing using discard():", courses)

Original courses: {'CT', 'DCLD', 'TPCS', 'AMT'}
After removing using remove(): {'CT', 'DCLD', 'AMT'}
After removing using discard(): {'CT', 'DCLD', 'AMT'}

In [15]:
#creation of Dictionary
thisdict={
    "brand":"Porche",
    "model": "911 gt3RS",
    "Year":1988

}
thisdict

{'brand': 'Porche', 'model': '911 gt3RS', 'Year': 1988}

In [16]:
#Dictionary takes latest value given for key. It will not allow duplicate
thisdict={
    "brand":"Porche",
    "model": "911 gt3RS",
    "Year":1988,
    "Year":2021
}
print(thisdict)

{'brand': 'Porche', 'model': '911 gt3RS', 'Year': 2021}

In [17]:
#changing/Adding key:Value in dictionary
car={
    "brand":"Porche",
    "model": "911 gt3RS",
    "Year":1988,
    "Year":2021
}
car["color"]="red"
x=car.values()
print(x) #after the change

dict_values(['Porche', '911 gt3RS', 2021, 'red'])

In [18]:
#Retrival of values
student={
    "roll":101,
    "name":"ROHAN",
    "branch":"entc"

}
print(student)

{'roll': 101, 'name': 'ROHAN', 'branch': 'entc'}

In [19]:
#Adding and Updating
student["year"]="First"
student["name"]="ROHAN"
print(student)

{'roll': 101, 'name': 'ROHAN', 'branch': 'entc', 'year': 'First'}

In [20]:
#Removing elements
student.pop("year")
print(student)

{'roll': 101, 'name': 'ROHAN', 'branch': 'entc'}

In [21]:
'''1) A dictionary stores product names and their prices. Write a program to update the price of a given product'''
# Dictionary with product names and prices
products = {
    "apple": 100,
    "banana": 40,
    "orange": 60
}

# Input from user
product_name = input("Enter product name: ")
new_price = float(input("Enter new price: "))

# Update price if product exists
if product_name in products:
    products[product_name] = new_price
    print(f"Updated price of {product_name}: {products[product_name]}")
else:
    print("Product not found!")

# Display updated dictionary
print("Updated Dictionary:")
print(products)

Enter product name: banana
Enter new price: 1200
Updated price of banana: 1200.0
Updated Dictionary:
{'apple': 100, 'banana': 1200.0, 'orange': 60}

In [23]:
'''2) A dictionary stores student names and their marks. Write a program to search for a students's marks using the name entry. If the student is not found, display a suitable message.'''
# Dictionary storing student names and their marks
students = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92,
    "David": 88
}

# Take student name as input
name = input("Enter the student's name: ")

# Search for the student's marks
if name in students:
    print(f"{name}'s marks are: {students[name]}")
else:
    print("Student not found.")

Enter the student's name: Rohan
Student not found.

In [29]:
'''3) A dictionary stores usernames and passwords. Write a python program to validate user login.'''
# Dictionary storing usernames and passwords
users = {
    "alice": "alice123",
    "bob": "bob@2024",
    "charlie": "charlie_pwd"
}

# Take input from user
username = input("Enter username: ")
password = input("Enter password: ")

# Validate login
if username in users and users[username] == password:
    print("Login successful!")
else:
    print("Invalid username or password.")

Enter username: bob
Enter password: bob@2024
Login successful!

In [30]:
'''4)A dictonary stores student names and marks. Write a Python program to find the student with the highest marks.'''
# Dictionary storing student names and their marks
students = {
    "REHMAN": 85,
    "ASLAM": 92,
    "IQBAL": 88,
    "AJAY": 95
}

# Find the student with the highest marks
top_student = max(students, key=students.get)

print("Student with highest marks:", top_student)
print("Marks:", students[top_student])

Student with highest marks: AJAY
Marks: 95